/* footer */
#footer {
    height: 150px;
}
#row {
	float: left;
	width: 33.3%;
}
#row img {
	width: 32px;
	height: 32px;
}
#row p {
	font-size: 1.05em;
	color: #07c;
	width: 100px;
	padding-bottom: 5px;
	border-bottom: 2px solid #11A7F2;
}
#row a {
	color: #555;
	text-decoration: none;
	margin: 10px 0;
}
#row a:hover {
	text-decoration: underline;
}
#top {
	width: 40px;
	height: 40px;
}

.scrollToTop{
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	text-decoration: none;
	position:fixed;
	bottom:50px;
	right:100px;
	display:none;
	background: url('images/bg.png');
}
.scrollToTop:hover{
	text-decoration:none;
}